%header.header
  .logo= link_to "Jaime Coyle Photography", "/"
  %ul.nav
    %li.nav-item= link_to "Maternity Photography", "/maternity-photography"
    %li.nav-item= link_to "Baby Photography", "/baby-photography"
    %li.nav-item= link_to "Family Photography", "/family-photography"
    %li.nav-item= link_to "About", "/about"
    %li.nav-item= link_to "Pricing", "/pricing"
    %li.nav-item= link_to "Blog", "http://blog.kitchenerphotography.com"
    %li.nav-item= link_to "Contact", "/contact"
